{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "shared": "./shared",
          "header": "./header",
          "footer": "./footer",
          "cinemagraph" : "./cinemagraph"
        }
      }
    ],
    [
      "wrap-in-js",
      {
        "extensions": ["css$", "scss$"]
      }
    ],
    [
      "inline-react-svg", {
        "svgo": {
          "plugins": [
            {
              "cleanupIDs": false
            },
            {
              "removeAttrs": {
                "attrs": [
                  "serif.id",
                  "xmlns.serif"
                ]
              }
            }
          ]
        }
      }
    ],
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ]
  ],
  "presets": ["env", "stage-0", "react"],
  "ignore": [
    "src/**/*.json"
  ]
}
