# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-node_modules

# source files
.editorconfig
.eslintignore
.eslintrc
.gitignore
.jshintignore
.jshintrc
.npmignore
babelrc.js
gulpfile.js
err.log
CHANGELOG.md
README.md

# source folders
cinemagraph/
footer-components/
fullpage-slides/
header-components/
index-components/
listing-components/
node_modules/
pagination/
shared/

# NPM debug
npm-debug.log
