# Dependency directory
# Commenting this out is preferred by some people, see
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-node_modules

# source files
.editorconfig
.eslintignore
.eslintrc
.gitignore
.jshintignore
.jshintrc
.npmignore
babelrc.js
gulpfile.js
err.log
README.md

# source folders
node_modules/
footer-components/
header-components/
listing-components/
shared/

# NPM debug
npm-debug.log
